.container__1235 {
  max-width: 1238px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.nav__top {
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding: 8px 15px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1019607843);
}
.nav__top input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--Main-Secondary, #70C05B);
  background: var(--Main-Surface, #FFF);
}

.nav__bottom {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: auto;
  bottom: 0;
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Rubik900", sans-serif;
  src: url(/assets/fonts/static/Rubik-Black.ttf);
}
@font-face {
  font-family: "Rubik700", sans-serif;
  src: url(/assets/fonts/static/./Rubik-Bold.ttf);
}
@font-face {
  font-family: "Rubik800", sans-serif;
  src: url(/assets/fonts/static/./Rubik-ExtraBold.ttf);
}
@font-face {
  font-family: "Rubik300", sans-serif;
  src: url(/assets/fonts/static/./Rubik-Light.ttf);
}
@font-face {
  font-family: "Rubik500", sans-serif;
  src: url(/assets/fonts/static/./Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubik400", sans-serif;
  src: url(/assets/fonts/static/./Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik600", sans-serif;
  src: url(/assets/fonts/static/./Rubik-SemiBold.ttf);
}