.container__1235 {
  max-width: 1238px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.nav__top {
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding: 8px 15px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1019607843);
}
.nav__top input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--Main-Secondary, #70C05B);
  background: var(--Main-Surface, #FFF);
}

.nav__bottom {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: auto;
  bottom: 0;
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Rubik900", sans-serif;
  src: url(/assets/fonts/static/Rubik-Black.ttf);
}
@font-face {
  font-family: "Rubik700", sans-serif;
  src: url(/assets/fonts/static/./Rubik-Bold.ttf);
}
@font-face {
  font-family: "Rubik800", sans-serif;
  src: url(/assets/fonts/static/./Rubik-ExtraBold.ttf);
}
@font-face {
  font-family: "Rubik300", sans-serif;
  src: url(/assets/fonts/static/./Rubik-Light.ttf);
}
@font-face {
  font-family: "Rubik500", sans-serif;
  src: url(/assets/fonts/static/./Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubik400", sans-serif;
  src: url(/assets/fonts/static/./Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik600", sans-serif;
  src: url(/assets/fonts/static/./Rubik-SemiBold.ttf);
}
header {
  padding: 55px 0 0 0;
}

#header__adverse {
  padding: 26px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../assets/img/home/adversting-background.png);
}
#header__adverse h3 {
  font-family: "Rubik700", sans-serif;
  color: #414141;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
}

.discount__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
.discount__tittle h2 {
  color: #414141;
  font-family: "Rubik700", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.discount__tittle a {
  color: #606060;
  text-decoration: none;
  color: #414141;
  text-align: center;
  font-family: "Rubik400", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

main {
  padding: 62px 0;
  background-color: #fff;
  background: #FBF8EC;
}

.card__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}
.card__pay .card__cost-card {
  color: #414141;
  font-family: "Rubik700", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.card__pay .card__pay-card {
  color: #BFBFBF;
  font-family: "Rubik400", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.discount__cards {
  display: grid;
  padding: 30px 0;
}

.discount__card {
  max-width: 272px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2;
  transition: all 0.2;
}

.discount__card__description {
  color: #414141;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 8px;
}

.discount__card__banknote h2 {
  color: #606060;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.discount__card__credit {
  padding: 2px;
}
.discount__card__credit h2 {
  color: #414141;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}
.discount__card__credit p {
  color: #bfbfbf;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.discount__card__in-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #70c05b;
  color: #70c05b;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.discount__card__in-cart:hover {
  background-color: #f63;
  border: 1px solid #f63;
  color: #fff;
}

.discount__card__review img {
  width: 100%;
  margin-bottom: 18px;
}

.discount__card__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .discount__card {
    max-width: 160px;
  }
}
@media (min-width: 500px) {
  .discount__cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
  }
}
@media (min-width: 920px) {
  .discount__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}